body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#greetingText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 156px;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}

#backgroundImage {
    position: relative;
    background-image: url('beji_b_Tel_Aviv_cityscape_panoramic_view_from_bustling_city_squ_5022c11c-6d51-4dd1-ae45-e77832f36662.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligns children at the bottom */
}

#musicBoxContainer {
    position: relative;
    margin-bottom: 20px; /* Adjust space from the bottom edge of backgroundImage */
}

#musicBoxImage {
    width: 1000px; /* Adjust size as needed */
    height: auto;
}

#windingKey {
    position: absolute;
    right: 100%; /* Position to the right side of the music box */
    top: 50%; /* Vertically center relative to the music box */
    transform: translate(0, -50%) rotate(-90deg); /* Combine translate and rotate */
    width: 125px; /* Adjust size as needed */
    cursor: pointer;
}

@keyframes rotateAndScale {
    0%, 100% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.2) rotate(90deg); }
    50% { transform: scale(1) rotate(180deg); }
    75% { transform: scale(1.2) rotate(270deg); }
}

.continuousRotateAndScale {
    animation: rotateAndScale 20s linear infinite; /* Adjust time as needed */
}