body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#greetingText {
    font-size: 40px; /* Adjust size as needed */
    color: #ff0000; /* Adjust color as needed */
    font-weight: bold;
    text-align: center;
    margin: 20px 0; /* Adjust spacing as needed */
    /* Add more styling as per your design preference */
}

#backgroundImage {
    background-image: url('beji_b_Tel_Aviv_cityscape_panoramic_view_from_bustling_city_squ_5022c11c-6d51-4dd1-ae45-e77832f36662.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#musicBoxContainer {
    position: relative;
}

#musicBoxImage {
    max-width: 1000px; 
    transition: transform 1s ease;
}

#windingKey {
    transform: rotate(90deg);
    position: absolute;
    right: -60px; /* Adjust position as needed */
    bottom: -70px; /* Adjust position as needed */
    width: 50px; /* Adjust size as needed */
    cursor: pointer;
}

@keyframes swingMusicBox {
    0%, 100% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
}

.swinging {
    animation: swingMusicBox 2s ease-in-out infinite;
}